<h2><%= "#{@gallery.name} Info Page" %></h2>


<label>Name:</label>
<%= @gallery.name %><br>

<label>Location:</label>
<%= @gallery.location %><br>

<label>List of paintings that can be found here:</label>
<% @gallery.paintings.each do |painting| %><br>
<%= link_to painting.name, painting %>
<% end %>

<%= button_to "Going Out Of Business", @gallery, method: :delete %>
